In [1]:
#IMPORTING LIBRARIES

import pandas as pd

from IPython.core.display import display, HTML
from pyvis import network
import networkx as nx

In [2]:
#LOAD DATA INTO DATAFRAME

df = pd.read_excel("Connections.xlsx")
df.head(10)

,First_Name,Last_Name,Email_Address,Company,Position,Connected On
0,Akshay,Takawale,NaN,VisionNLP,Data Science Intern,2021-11-16
1,Nishaa,Selvaraj,NaN,NaN,NaN,2021-11-16
2,Chandrakanth,LNS,NaN,Brane Enterprises pvt ltd,Data Scientist,2021-11-16
3,Prathamesh,Agarwal,NaN,Anchanto,Data Scientist,2021-11-15
4,Gatima,Nupur,NaN,Accenture,Senior Analyst,2021-11-14
5,Helen,Stevens,NaN,Walmart,Senior Software Engineer,2021-11-14
6,Prashant,Kumar,NaN,Internity Foundation,Web Developer,2021-11-14
7,Yashas,PS,NaN,ITC Infotech,IT Specialist,2021-11-13
8,Aishwarya,Barad,NaN,NaN,NaN,2021-11-13
9,Mubin,Shaikh,yaminmubin@gmail.com,Industry 4.0 technology consulting private lim...,Machine Learning Engineer,2021-11-13

In [3]:
#DROP COLUMNS FOR DATA PRIVACY

df = (df.drop(columns=['First_Name', 'Last_Name', 'Email_Address']))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       25 non-null     object
 1   Position      24 non-null     object
 2   Connected On  29 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 824.0+ bytes

A 'Position' network (yourself as central node) would require dropping missing values in the respective column. You might also have to process other aspects of the columns for 'clean data', depending on your copy of data.

In [4]:
df = df.dropna(subset = ['Position'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 28
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       24 non-null     object
 1   Position      24 non-null     object
 2   Connected On  24 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 768.0+ bytes

In [5]:
#COUNT NUMBER OF POSITIONS WITH SAME DESIGNATION
df_post = df['Position'].value_counts().reset_index()
df_post.columns = ['Position', 'count']
df_post = df_post.sort_values(by = "count", ascending = False)


#GET INFO OF THE NUMBER OF 'TO-BE DISPLAYED' NODES
df_post_reduced = df_post.loc[df_post['count'] >= 1]
df_post_reduced.shape

(13, 2)

In [6]:
# initialize graph
g = nx.Graph()
for _, row in df_post_reduced.iterrows():
    
    post = row['Position']
    count = row['count']

    title = f"<b>{post}</b> - {count}"
    hover_info = title

    #if count is not high in general, node size (arg) can be enhanced
    g.add_node(post, size = count*2, title = hover_info, color = 'red')
    g.add_edge('root', post, color = 'grey')

    
# generate graph
nt = network.Network(height = '500px', width = '700px', bgcolor = "white", font_color = 'black', notebook = True)
nt.from_nx(g)
nt.hrepulsion()
nt.show('position_graph.html')